/* .sidebar-container{
    background-color: rebeccapurple;
    width: 200px;
    height: 100vh;
    padding: 30px 20px;
    transition: all 1s ease;
} */
.sidebarMenucontainer{
    background-color: rebeccapurple;
    height: 100vh;
    padding: 30px 20px;
    transition: all 1s ease;
}
.sidebar-container .barIcon{
    float: right;
    padding-bottom: 20px;
}
.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.top-section span{
    color: white;
    font-size: 14px;
}
.sidebar-container .divider{
    display: block;
    width: 200px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}


.icon-list .icon{
    padding-bottom: 10px;
    color: white;
}
.icon-list .iconText{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.icon-list .iconText span{
    margin-left: 10px;
   
}